<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ruta_log" value="D:\WOTLK Warmane\Logs\cpu.log" />
    <add key="id_carpeta_drive" value="" />
    <add key="client_id" value="" />
    <add key="client_secret" value="" />
  </appSettings>
</configuration>